body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-color: black;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}


.top {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.value
{
transform: translate(-50%, -50%);
position: absolute;
text-align: center;
width: 30px;
}

.buttons {
  margin-left: 15px;
  margin-right: 15px;
  background-color: black;
  color:white;
  font-family: "Courier New", Courier, monospace;
  font-style: bold;
  font-size: 25px;
}

.three-inline-buttons {
     margin-top: 30px;
     position: relative;
     display: table;
     margin: 0 auto;
}

#incInput,#decInput,#initInput
{
 height:22px;
 width: 40px;
}

#incInput,#decInput
{
  margin-left: 14px;
}
hr {
  margin: auto;
  width: 40%;

}